@model TestApp2.ViewsModels.Produit.ListeProduitModel
@{
    ViewBag.Title = "Index";
}

@section Scripts
{
}

<h2>Liste des produits</h2>
<div class="row">
    <div class="col-xs-4 col-sm-3 col-md-3">
        Id
    </div>
    <div class="col-xs-4 col-sm-3 col-md-3">
        Libelle
    </div>
    <div class="hidden-xs col-sm-3 col-md-3">
        Prix
    </div>
    <div class="col-xs-4 col-sm-3 col-md-3">
        Lien
    </div>
</div>
@foreach (ProduitDTO produit in Model.ListeProduit)
{
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-3">
            @produit.Produit_Id
        </div>
        <div class="col-xs-4 col-sm-3 col-md-3">
            @produit.Libelle
        </div>
        <div class="hidden-xs col-sm-3 col-md-3">
            @produit.Prix
        </div>
        <div class="col-xs-4 col-sm-3 col-md-3">
            <a href="@Url.Action("Produit", "Produit", new { id=produit.Produit_Id})" class="glyphicon glyphicon-search"></a>
            <a href="@Url.Action("AcheterProduit", "Produit", new { produit_Id=produit.Produit_Id})" class="glyphicon glyphicon-shopping-cart"></a>
        </div>
    </div>
}