@model TestApp2.ViewsModels.Produit.ListeProduitModel
@{
    ViewBag.Title = "Index";
}

@section Scripts
{
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")"></script>
<script src="@Url.Content("~/Scripts/dataTables.bootstrap.js")"></script>
<script src="@Url.Content("~/Scripts/Views/ListeProduit.js")"></script>
<link href="@Url.Content("~/Content/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
}

<h2>Liste des produits</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <td>ID</td>
            <td>Libelle</td>
            <td>Prix</td>
            <td>Lien</td>
        </tr>
    </thead>
    @foreach (ProduitDTO produit in Model.ListeProduit)
    {
    <tr>
        <td>@produit.Produit_Id</td>
        <td>@produit.Libelle</td>
        <td>@produit.Prix</td>
        <td><a href="@Url.Action("Produit", "produit", new { id=produit.Produit_Id})" class="glyphicon glyphicon-search"></a></td>
    </tr>
    }
</table>


