@model TestApp2.ViewsModels.Produit.ListeProduitModel
@{
    ViewBag.Title = "Index";
}

@section Scripts
{
    <script type="text/javascript">
        /*$(document).ready(function () {
            $('#divBuyModal').modal({
                show: 'false',
            });
        });*/

        function ShowModal() {
            $('#divBuyModal').modal("show");
        }

        function HideModal() {
            $('#divBuyModal').modal("hide");
        }

        function Failure() {
            alert("Erreur !");
        }
    </script>
}

<h2>Liste des produits</h2>
<div class="row">
    <div class="col-xs-4 col-sm-3 col-md-3">
        Id
    </div>
    <div class="col-xs-4 col-sm-3 col-md-3">
        Libelle
    </div>
    <div class="hidden-xs col-sm-3 col-md-3">
        Prix
    </div>
    <div class="col-xs-4 col-sm-3 col-md-3">
        Lien
    </div>
</div>
@foreach (ProduitDTO produit in Model.ListeProduit)
{
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-3">
            @produit.Produit_Id
        </div>
        <div class="col-xs-4 col-sm-3 col-md-3">
            @produit.Libelle
        </div>
        <div class="hidden-xs col-sm-3 col-md-3">
            @produit.Prix
        </div>
        <div class="col-xs-4 col-sm-3 col-md-3">
            <a href="@Url.Action("Produit", "Produit", new { id=produit.Produit_Id})" class="glyphicon glyphicon-search"></a>
            @*<a href="@Url.Action("AcheterProduit", "Produit", new { produit_Id=produit.Produit_Id})" class="glyphicon glyphicon-shopping-cart"></a>*@
            @Ajax.ActionLink(" ",
                 "AcheterProduit",
                 "Produit",
                 new
                 {
                     produit_Id = produit.Produit_Id,
                 },
                 new AjaxOptions
                 {
                     UpdateTargetId = "divBuyModal", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET", // <-- HTTP method
                     OnSuccess = "ShowModal",
                 },
                 new
                 {
                     @class = "glyphicon glyphicon-shopping-cart",
                 })
        </div>
    </div>
}
<div class="modal fade" id="divBuyModal" role="dialog">
</div>