<div class="row">
    <div class="col-xs-4 col-sm-4"><span>@Model.Libelle</span></div>
    <div class="col-xs-3 col-sm-2"><span>@Model.Prix €</span></div>
    <div class="col-xs-2 col-sm-2"><span>@Model.Quantite</span></div>
    <div class="col-xs-3 col-sm-2"><span>@Model.PrixTotal €</span></div>
    <div class="col-xs-12 col-sm-2">
        <div class="col-xs-1">
            @Ajax.ActionLink(" ",
                 "AjoutePanierProduit",
                 "Panier",
                 new
                 {
                     PanierProduit_Id = Model.PanierProduit_Id,
                 },
                 new AjaxOptions
                 {
                     UpdateTargetId = "PanierProduit_" + Model.PanierProduit_Id, // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 },
                 new
                 {
                     @class = "glyphicon glyphicon-plus",
                 })
        </div>
        <div class="col-xs-1">
            @Ajax.ActionLink(" ",
                 "RetirePanierProduit",
                 "Panier",
                 new
                 {
                     PanierProduit_Id = Model.PanierProduit_Id,
                 },
                 new AjaxOptions
                 {
                     UpdateTargetId = "PanierProduit_" + Model.PanierProduit_Id, // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 },
                 new
                 {
                     @class = "glyphicon glyphicon-minus",
                 })
        </div>
        <div class="col-xs-1">
            @Ajax.ActionLink(" ",
                 "SupprimerPanierProduit",
                 "Panier",
                 new
                 {
                     PanierProduit_Id = Model.PanierProduit_Id,
                 },
                 new AjaxOptions
                 {
                     UpdateTargetId = "PanierProduit_" + Model.PanierProduit_Id, // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 },
                 new
                 {
                     @class = "glyphicon glyphicon-trash",
                 })
        </div>
    </div>
</div>